{% extends 'base.html' %}

{% block title %}Detalhes do Bem{% endblock %}

{% block content %}
    <h1>Detalhes do Bem</h1>
    <p><strong>Nome:</strong> {{ bem.nome }}</p>
    <p><strong>Código RFID:</strong> {{ bem.codigo_rfid }}</p>
    <p><strong>Categoria:</strong> {{ bem.categoria }}</p>
    <p><strong>Departamento:</strong> {{ bem.departamento }}</p>
    <p><strong>Fornecedor:</strong> {{ bem.fornecedor }}</p>
    <p><strong>Data de Aquisição:</strong> {{ bem.data_aquisicao }}</p>
    <p><strong>Valor:</strong> R$ {{ bem.valor }}</p>
    <p><strong>Em Manutenção:</strong> {% if bem.status_manutencao %}Sim{% else %}Não{% endif %}</p>
{% endblock %}
