{% extends 'base.html' %}

{% block title %}
    Editar Fornecedor
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center pt-5">
    <div class="card shadow-lg p-4" style="width: 500px;">
        <div class="card-body">
            <h3 class="card-title text-center mb-4 text-dark"><strong>Editar Fornecedor</strong></h3>
            
            <form method="post">
                {% csrf_token %}
                
                <!-- Nome do Fornecedor -->
                <div class="mb-3">
                    <label for="nome" class="form-label">Nome:</label>
                    {{ form.nome }}
                </div>

                <!-- Contto -->
                <div class="mb-3">
                    <label for="contato" class="form-label">contato:</label>
                    {{ form.contato }}
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-success">Salvar alterações</button>
                </div>

                <div class="mt-3 text-center">
                    <a class="nav-link text-primary" href="{% url 'lista_fornecedores' %}"><small>Voltar à lista de fornecedores</small></a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
